div.header {
  background-color: #ffffff;
  min-width: 320px;    
min-height: 50px;
border-bottom: 2px solid grey;
}

div.header img {
  display: block;
  margin: 0;
}

div.header img.logo {
  float: left;
  height: 50px;
  width: 100px;
}

div.header h4.label {
display: inline;
float: right;
  color: #9233af;
  font-weight: normal;
}
div.header h4.pipe {
display: inline;
float: right;
  color: #736d75;
  font-weight: normal;
}

@media (max-width: 992px) {
  div.header img.logo {
      height: 78px;
      width: 139px;
  }
  div.header h4.label {
      line-height: 78px;
  }
}

@media (max-width: 600px) {
  div.header img.logo {
      height: 62px;
      width: 110px;
  }
  div.header h4.label {
      line-height: 62px;
  }
}
